@{
    ViewBag.Title = "O aplikaciji";
}

<div class="container" align="center">
    <br />
    <br />
    <div class="my-background2 about" align="center">
        <h3>Studentski projekat</h3>
        <h3>Veb aplikacija za podršku poslovnim procesima bioskopa</h3>
        <hr class="hr-gray" />
        <p>
            <strong>Univerzitet u Istočnom Sarajevu</strong> <br />
            <strong>Elektrotehnički fakultet Istočno Sarajevo </strong> <br />
            <br />
            Studijski program: <strong> Računarstvo i informatika  </strong> <br />
            Predmet: <strong>Projekat 2 </strong> <br />
            Mentor: <strong> doc. dr Danijel Mijić  </strong> <br />
            Student: <strong> Ivana Jovović </strong><br />
            E-mail: <strong><a href="mailto:ivana.jovovic94@gmail.com">ivana.jovovic94@gmail.com</a></strong>
        </p>
    </div>
</div>






